{% extends 'base.html.twig' %}

{% block body %}
    <label>Prenom : </label>   <div>{{ profilForm.prenom }}</div>
    <label>Nom : </label>      <div>{{ profilForm.nom }}</div>
    <label>Télephone : </label><div>{{ profilForm.telephone }}</div>
    <label>Email : </label>   <div>{{ profilForm.email }}</div>
    <label>Site : </label>   <div>{{ profilForm.site }}</div>
    <a href="{{ path('app_creerSortie') }}"><button>Retour</button></a>
{% endblock %}

{% block title %}

{% endblock %}

