<header>

    <a class="site-title" href="{{ path('app_accueil') }}">
        TODO insérer image {#<img src="{{ asset('img/logo.png') }}" alt="sortir.com">#}
    </a>

    <nav>
        <ul>
            <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
{#            <li><a href="{{ path('app_monProfil') }}">Mon profil</a></li>#}
            <li><a href="{{ path('app_login') }}">Se déconnecter</a></li>

        </ul>

    </nav>

</header>