<header>

    <a class="site-title" href="{{ path('app_accueil') }}">

TODO insérer image{#        <img src="{{ asset('img/logo.png') }}" alt="Bucket-List">#}
    </a>

    <nav>
        <ul>
            <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
{#            <li><a href="{{ path('main_aboutUs') }}">Mon profil</a></li>#}
{#            <li><a href="{{ path('wish_list') }}">Se déconnecter</a></li>#}


        </ul>
    </nav>


</header>